@font-face {
  font-family: 'UNDERTALE';
  font-style: normal;
  font-weight: 400;
  src: url(https://imsakushi.github.io/psd-analytics/DTM-Mono.woff2) format('woff2');
}

/* Background colors*/
body {
  overflow: hidden;
  background-color: rgba(0,0,0,0);
}
/* Transparent background. */
yt-live-chat-renderer {
  background-color: transparent !important;
}
yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
  background-color: transparent !important;
}



/* Outlines */
yt-live-chat-renderer * {
  text-shadow: -2px -2px #000000,-2px -1px #000000,-2px 0px #000000,-2px 1px #000000,-2px 2px #000000,-1px -2px #000000,-1px -1px #000000,-1px 0px #000000,-1px 1px #000000,-1px 2px #000000,0px -2px #000000,0px -1px #000000,0px 0px #000000,0px 1px #000000,0px 2px #000000,1px -2px #000000,1px -1px #000000,1px 0px #000000,1px 1px #000000,1px 2px #000000,2px -2px #000000,2px -1px #000000,2px 0px #000000,2px 1px #000000,2px 2px #000000;
  font-family: "UNDERTALE";
  font-size: 35px !important;
  line-height: normal !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
  overflow: initial !important;
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer #items{
  overflow: hidden !important;
}

yt-live-chat-item-list-renderer #item-scroller{
  overflow: hidden !important;
}

/* Hide header and input. */
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
  display: none !important;
}

/* Reduce side padding. */
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
    padding-left: 4px !important;
  padding-right: 4px !important;
}

yt-live-chat-paid-message-renderer #header {
    padding-left: 4px !important;
  padding-right: 4px !important;
}

/* Avatars. */
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
  display: none !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 24px !important;
  margin-right: 6px !important;
}

/* Hide badges. */
yt-live-chat-text-message-renderer #author-badges {
  display: none !important;
  vertical-align: text-top !important;
}

/* Timestamps. */
yt-live-chat-text-message-renderer #timestamp {
  
  color: #999999 !important;
  font-family: "UNDERTALE";
  font-size: 16px !important;
  line-height: 16px !important;
}

/* Channel names. */
yt-live-chat-text-message-renderer #author-name {
  display: block;
  color: #f4f4f4 !important; /* Couleur du texte */
  font-family: "UNDERTALE"; /* Police de caractère */
  font-size: 30px !important; /* Taille de la police */
  line-height: 22px !important; /* Hauteur de ligne */
  padding: 8px !important ; /* Espace autour du texte à l'intérieur de la boîte */
  background-color: black !important; /* Fond noir pour la boîte de texte */

}


/* Messages. */
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
  display: table;
  margin-top: 8px;
  margin-bottom: 12px;
  color: #ffffff !important;
  font-family: "UNDERTALE";
  font-size: 29px !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  padding: 8px !important;
  background-color: black !important; /* Fond noir pour la boîte de texte */
  border: 6px solid #fff; /* Bordure blanche autour de la boîte de texte */
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
  color: #ffffff !important;
  font-family: "Changa One";
  font-size: 38px !important;
  line-height: 22px !important;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
  color: #ffffff !important;
  font-family: "UNDERTALE";
  font-size: 38px !important;
  line-height: 22px !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
  color: #ffffff !important;
  font-family: "UNDERTALE";
  font-size: 38px !important;
  line-height: 22px !important;
}

yt-live-chat-moderation-message-renderer {
  display: none !important;
}

yt-live-chat-paid-message-renderer {
  margin: 4px 0 !important;
}

yt-live-chat-legacy-paid-message-renderer {
  background-color: #0f9d58 !important;
  margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
  text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  box-shadow: none !important;
}
yt-live-chat-ticker-renderer {
  display: none !important;
}


yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  color: #ffffff !important;
  font-family: "UNDERTALE";
}

yt-live-chat-mode-change-message-renderer, 
yt-live-chat-viewer-engagement-message-renderer, 
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}

/* —————————————————————— */
/* Préfixe “* ” avant chaque message */
yt-live-chat-text-message-renderer #message::before,
yt-live-chat-legacy-paid-message-renderer #content::before,
yt-live-chat-paid-message-renderer #content::before {
  content: "* ";          /* ajoute “* ” */
  /* héritera de la même police, taille, couleur, etc. */
}


yt-live-chat-banner-manager {
  display: none !important;
}


yt-live-chat-action-panel-renderer, 
yt-live-chat-renderer #action-panel {
  display: none !important;
}
yt-reaction-control-panel-overlay,
yt-reaction-control-panel-overlay-view-model,
yt-reaction-control-panel-view-model {
  display: none !important;
}
yt-live-chat-viewer-engagement-message-renderer {
  display: none !important;
}

yt-live-chat-text-message-renderer .small-emoji,
yt-live-chat-text-message-renderer .emoji {
  text-shadow: none !important;
  font-family: initial !important;
  display: inline-block !important;
  vertical-align: middle !important;
  border: none !important;
}
